@font-face 
    font-family: "Montserrat"
    font-style: normal
    font-weight: 400
    src: url(../../../../../assets/fonts/Montserrat-Regular.ttf)

.submenu
    max-width: 1140px
    height: 48px
    background: #FFF
    position: absolute
    left: 0
    right: 0
    z-index: -1
    transition: .3s
    display: flex
    justify-content: center
    align-items: center
    display: block
    @media (max-width: 580px)
        display: none
    

.listWrap
    max-width: 949px
    display: flex 
    align-items: center
    text-align: center
    justify-content: space-between
    padding-top: 14px
    margin: 0 auto

.subList
    color: #1F1F1F
    font-family: Montserrat
    font-weight: 400
    font-size: 16px
    line-height: 19px
    &:hover
        color: #FDA3C4
    @media (width: 1000px) 
        font-size: 14px
        line-height: 17px    
    

    

.hidden
    bottom: 0
    z-index: -1
    opacity: 0
.show
    bottom: -48px
    z-index: 1
    opacity: 1

.subLine
    background: #909090
    max-width: 1140px
    height: 1px
    margin-top: 12px
    

