.nav{
    width: 100%;
    border-bottom: 1px solid #FDA3C4;
    position: relative;
    z-index: 10;
    background: white;
    @media (max-width: 675px){
        position: fixed;
    }
}
.block{
    height: 103px;
    
    @media (max-width: 400px){
        height: 35px;
    }
    @media (max-width: 675px){
        height: 50px;
    }
    @media (min-width: 768px){
        width: 738px;
        padding-top: 14px;
    }
    @media (min-width: 1000px){
        width: 905px;
        padding-top: 18px;
    }
    @media (min-width: 1440px){
        width: 1140px;
        padding-top: 10px;
    }
}
.blocktwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px){
        margin-bottom: 35px;
    }
    @media (min-width: 1000px){
        margin-bottom: 30px;
    }
    @media (min-width: 1440px){
        margin-bottom: 26px;
    }
}
.boorivaLogo{
    min-width: 82px;
    min-height: 20px;
    order: 1;
    @media (max-width: 675px){
        order: -1;
        padding-left: 16px;
    } 
    @media (min-width: 768px){
        margin-left: 90px;
        width: 113px; 
        height: 29px;
    }
    @media (min-width: 1000px){
        margin-left: 135px;
        width: 113px; 
        height: 29px;
    }
    @media (min-width: 1440px){
        margin-left: 55px;
        width: 160px; 
        height: 40px;
    }
}
.blockthree{
    display: flex;
    justify-content: space-between;
    @media (max-width: 675px){
        display: none;

    }
    @media (max-width: 768px){
        width: 80px;
    }
    @media (min-width: 1000px){
        width: 90px;
    }

    @media (min-width: 1440px){
        width: 81px;
    }

}
.wishlistIcon{
    width: 20px;
    height: 20px;
    @media (min-width: 1440px){
        width: 24px;
        height: 24px;
    }
}
.menu{
    height: 100%;
    top: -50px;
    z-index: 2;
    padding-top: 10px;
    position: relative;
    @media (max-width: 1000px){
        top: -20px;
    }
    @media (max-width: 779px){
        top: -30px;
        padding-top: 30px;
    }
}

.wrapper{
    max-width: 1143px;
    margin: 0 auto;
}