.productSwiper 
    height: 609px
    display: flex
    flex-direction: row-reverse

.miniSwiperWrap
    height: 609px
    width: 100px

.miniSwiper
    height: 100%

.slide 
    width: 96px
    height: 125px !important
    object-fit: contain
    overflow: hidden

.bigSlide
    height: 609px
    object-fit: cover

    img 
        object-fit: cover


