.catalogFlex 
    display: flex
    gap: 50px
    justify-content: space-between
    @media screen and (max-width: 500px)
        flex-direction: column

.catalog 
    display: flex
    margin-bottom: 50px

.productWrap 
    width: 48%
    @media screen and (max-width: 500px)
        width: 100%

