.footer {
    background: #FDA3C4;
    padding: 60px 0;
}

.footer .wrapper {
    display: flex;
}

.footer__title {
    font-family: SundayBest;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.94px;
    text-align: left;
    color: #F40000;
}


.footer__read-us {
    display: flex;
}

.read-us .footer__item {
    max-width: 160px;
}