

.product__image {
    display: block;
    border-bottom: 2px #FDA3C4 solid;
    margin-bottom: 27px;

}

.product__image-container {
    max-width: 350px;
    max-height: 454px;
    margin: 5px;
    padding: 0 15px;
    position: relative;
}

.product__favor-container {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 28px;
    height: 28px;
}

.product__favor {
    position: absolute;
}

.product__favor--red {
    z-index: -1;
    display: none;
}
/* 
.product__line {
    height: 2px;
    background: #FDA3C4;
    width: 100%;

} */
.product__options {
    display: flex;
    justify-content: space-between;
}
.product__name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    max-width: 180px;
}

.product__price {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    color: #FDA3C4;
}

@media screen and (max-width: 1260px){
    .product__name {
        font-size: 14px;
        max-width: 120px;
    }
    
    .product__price {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 768px){
    .product__name {
        font-size: 12px;
    }
    
    .product__price {
        font-size: 14px;
    }

    .product__image {
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 680px){
    .product__name {
        max-width: 120px;
    }

    .product__image {
        margin-bottom: 8px;
    }
}


@media screen and (max-width: 520px){
    .product__image-container {
        max-width: 217px;
        margin: 4px;
        padding: 0 14px;
    }
    .product__name {
        font-size: 10px;
        max-width: 83px;
    }
    
    .product__price {
        font-size: 10px;
    }


}
@media screen and (max-width: 380px){
   
    
}


