.checkout
    padding-top: 60px
    display: flex
    gap: 100px
    @media screen and (max-width: 1000px)
        gap: 60px
    @media screen and (max-width: 800px)
        flex-direction: column-reverse

.checkoutOptions
    width: calc( 70% - 50px )

.basket
    width: calc( 40% - 50px )

.clientDataSection,
.deliverySection
    display: flex
    gap: 30px
    justify-content: space-between
    margin-bottom: 55px

.input,
.address
    padding: 15px 20px
    color: #FDA3C4
    border: 2px solid #1F1F1F
    font-family: Montserrat
    font-size: 14px
    font-weight: 400
    line-height: 17.07px
    text-align: left
    border-radius: 4px
    width: 100%
.input::placeholder,
.address::placeholder
    color: #FDA3C4

.address 
    height: 100px
    margin-top: 20px

.client,
.delivery
    display: flex
    flex-direction: column
    gap: 10px
    width: 334px

    font-family: Montserrat
    font-size: 16px
    font-weight: 400
    line-height: 19.5px
    text-align: left
    span
        color: #FDA3C4


.button
    width: 200px
    margin:  0 auto








