.products 
    display: flex
    flex-wrap: wrap
    gap: 44px
    @media screen and (max-width: 500px)
        display: block

.productWrap 
    width: calc(50% - 44px)
    @media screen and (max-width: 600px)
        width: 100%


